*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color:rgb(244, 242, 239);
}

.container_header{
    margin: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter;
    font-size: 15px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: rgb(181, 157, 122);
}

.nav{
    display: flex;
    width: 350px;
    justify-content: space-between;
    text-decoration: none;
    font-size: 12.5px;
    text-transform: uppercase;
}

.container_main{
    text-align: center;
    margin: auto;
    margin-top: 200px;
    width: 50%;
    align-items: center;
}

.center{
    font-size: 48px;
    font-weight: 900;
}

.button{
    margin-top: 20px;
   font-size: 15px;
   color: rgb(255, 255, 255);
   font-weight: 900;
   text-transform: uppercase;
   letter-spacing: 1px;
   width: 350px;
   padding: 10px;
   border-radius: 10px;
   background-color: rgb(181, 157, 122);
}
.button:hover{
    background-color: rgb(102, 85, 59);
}

.main_section{
    display: flex;
    justify-content: center;
    /* border: 5px solid green; */
}

.left{
    width: 350px;
    height: 300px;
   object-fit: cover;
   border-radius: 10px;
   flex: 1;

}

.right{
    display: inline;
    flex: 2;
    font-size: 12.5px;
    margin-left: 5%;
}

.top{
    margin-bottom: 15px;
    margin-top: 8%;
    text-align: center;
    font-size: 17.5px;
    font-weight: 700;
    text-transform: uppercase;
}

.all{
    margin:10% 20%;
}

.contact{
    margin-left: auto;
    margin-right: 0;
}
.main_section2{
     align-content: left;
     justify-content: baseline;
     margin: 40px;
}

.contact{
    margin-bottom: 10px;
    font-size: 17.5px;
    font-weight: 900;
}

.email{
     font-size: 17.5px;
     font-weight: 400;
}
.name{
    margin-bottom: 5px;
}

.inemail{
    margin-bottom: 5px;
    
    
}

input{
    font-size: 12.5px;
    width: 100%;
    height: 50px;
    margin: 20px;
}
    
.btn{
    margin-left: 20px;
    font-size: 10px;
   width: 100px;
   height: 25px;
   color: white;
   background-color:rgb(181, 157, 122);
   border-radius: 10px;
}

.btn:hover{
    background-color: rgb(102, 85, 59);
}

.message{
    height: 150px
 
}

p{
    font-size: 12.5px;
    margin-left: 20px;
    margin-top: 75px;
}

.logo{
    color: black;
    text-transform: uppercase;
}
.logo:hover{
    color: black;
}


.Pages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0px;
}

.p1{
    border: 1px solid green;
    display: flex;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;

}

.workIcon{
    display: flex;
    width: 115px;
    height: 107.5px;
    margin: 0px 25px;
    object-fit: cover;
    border-radius: 10px;
}
.container_main2{
    text-align: center;
    margin: auto;
    width: 50%;
    align-items: center;
}

.hovering1:hover{
    opacity: 20%;
}

.hovering2:hover{
    opacity: 20%;
}

.hovering3:hover{
    opacity: 20%;
}

.hovering4:hover{
    opacity: 20%;
}

.vertical{
    margin-left: 36% ;
    margin-top: 2%;
    width: 26%;
    height: 26%;
}

.horizontal{
    margin-left: 35.5% ;
    margin-top: 8%;
    width: 26%;
    height: 26%;
}

.nextvertical{
    width: 3%;
    margin-bottom: 16.5%;
    margin-left: 1%;

}

.backvertical{
    width: 3.35%;
    margin: 30.5%;
    margin-top: -27%;
    margin-bottom: 17%;
}

.nexthorizontal{
    width: 3%;
    margin-bottom: 8%;
    margin-left: 1%;
}

.backhorizontal{
    width: 3.35%;
    margin: 30.5%;
    margin-top: -27%;
    margin-bottom: 8.9%;
}

.info{
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
}
.namevertical{
    margin-top: 1%;
    margin-left: 37%;
    margin-bottom: -1%;
}
.typevertical{
    margin-top: 0%;
    margin-left: 37%;
    font-weight: 900;
}

.typehorizontal{
    margin-top: 8%;
    margin-bottom: -5%;
    margin-left: 37%;
    font-weight: 900;
}

.namehorizontal{
    margin-left: 37%;
    margin-bottom: -7%;
}

.typebig{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    /* border: 2px solid green; */
    margin-left: 26%;
    margin-top: 6%;
}

figure{
    margin-top: 15%;
}

figcaption{
    text-align: center;
    margin-top: 2.5px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

.typebigPaint{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    /* border: 2px solid green; */
    margin-left: 20%;
    margin-top: 6%;
}

.PagesVideo{
    display: flex;
   
    margin: 2% 0% 2% 24%;
}

.typesmallnav{
    display: flex;
    margin-left: 37%;
    margin-bottom: 0%;
    text-transform: uppercase;
    
}
p{
    font-size: 12px;
}

.onpage{
    font-weight: 700;
}